<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>mmbrandbanner</name>
    <displayName><![CDATA[MM Brand Banners]]></displayName>
    <version><![CDATA[1.1.0]]></version>
    <description><![CDATA[Allows to manage brand banners .]]></description>
    <author><![CDATA[youness major media]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
</module>