<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>b2bregistration</name>
    <displayName><![CDATA[B2B Registration]]></displayName>
    <version><![CDATA[2.0.1]]></version>
    <description><![CDATA[Offers a custom signup form for B2B customers or wholesalers]]></description>
    <author><![CDATA[FMM Modules]]></author>
    <tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall my module?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>