{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
{% block article_list_panel %}
    <div class="row">
     <div class="col">
        {% include '@PrestaShop/Admin/Common/Grid/grid_panel.html.twig' with {'grid': testimonialGrid } %}
    
    </div>
    
    </div>
{% endblock %}
{% endblock %}