<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ets_hotdeals</name>
    <displayName><![CDATA[Hot deals PRO]]></displayName>
    <version><![CDATA[1.0.7]]></version>
    <description><![CDATA[Display discounted products in carousel slider with count-down clock]]></description>
    <author><![CDATA[PrestaHero]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>